.footer {
  position: relative;
  padding: 32px 0;
  background-color: var(--color-primary-dark);
  background-image: url("../images/footer-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer::before,
.footer::after {
  position: absolute;
  bottom: 0;
  background-repeat: no-repeat;
  content: "";
}

.footer::before {
  width: 180px;
  height: 120px;
  left: 0;
  background-image: url(../images/decore-bread-small.png);
}

.footer::after {
  width: 380px;
  height: 190px;
  right: 0;
  background-image: url(../images/decore-bread-large.png);
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-nav,
.footer-adress {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-logo,
.footer-menu {
  flex-grow: 1;
}

.adress-list,
.adress-info {
  flex-grow: 1;
}

.adress-link {
  color: var(--color-primary-light);
  font-weight: 300;
  font-size: 16px;
  text-decoration: none;
}

.adress-link:hover {
  color: var(--color-band-normal);
}

.adress-icon {
  fill: var(--color-primary-light);
}

.adress-icon:hover {
  fill: var(--color-band-normal);
}

.adress-copyright {
  font-size: 14px;
}
